<footer>
    <div class="made-by">
        <h1>Made with <i class="fas fa-heart"></i> by Alejandro Pascuale</h1>
        <h2 class="rights">©2021</h2>
    </div>
</footer>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/search.js"></script>
<% if (locals.userLogged && typeof user != 'undefined') { %>
    <script src="/javascripts/userMenu.js"></script>
<% }; %>