<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
      />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <title>Wallet App</title>
  </head>
  <body>
    <%- include partials/header %>
    <section class="home" id="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide slide">
            <div class="content">
              <h3>The app for everyone</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider1.jpeg" alt="">
            </div>
          </div>
          <div class=" swiper-slide slide">
            <div class="content">
              <h3>Control over your income and expenses</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider2.jpeg" alt="">
            </div>
          </div>
          <div class="swiper-slide slide">
            <div class="content">
              <h3>Easy to use</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider3.jpeg" alt="">
            </div>
          </div>
        </div>
      <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="balance" id="balance">
      <h3 class="sub-heading">See yours incomes and expenses</h3>
      <h1 class="heading">Your Balance</h1>
      <div class="box-container">
    </section>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
