<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Wallet App</title>
  </head>
  <body>
    <%- include partials/header %>
    
    <script src="/javascripts/index.js"></script>
  </body>
</html>
