<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Register</title>
  </head>
  <body>
    <%- include partials/header %>
    <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
      <div class="top-form">
        <h2 class="title-form">Login</h2>
        <a href="/"><i class="fas fa-times"></i></a>
      </div>
      <div class="format-form">
        <label for="email">Email</label>
        <input class="style-input" type="email" name="email" id="email" placeholder="example@email.com">
        <label for="password">Password</label>
        <input class="style-input" type="password" name="password" id="password" placeholder="my password">
      </div>
      <button class="btn-check" type="submit"><i class="fas fa-sign-in-alt"></i></button>
    </form>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
