<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Operations</title>
  </head>
  <body>
    <%- include partials/header %>
    <section class="balance-detail" id="balance">
      <h1 class="heading">Your Balance</h1>
      <h1 class="wallet-balance">$132.456,59</h1>
    </section>
    <section class="last-operations" id="last-operations">
      <div class="card-table">
        <table aria-describedby="myOperations" id="dataTable" cellspacing="0">
          <thead>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <th id="type">Type</th>
              <th id="category">Category</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <th id="type">Type</th>
              <th id="category">Category</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Almuerzo restaurant españa</td>
              <td>650,00</td>
              <td>20/09/2021 13:35</td>
              <td>Gasto</td>
              <td>Comida</td>
            </tr>
            <tr>
              <td>Pago factura de luz</td>
              <td>890,35</td>
              <td>21/09/2021 10:30</td>
              <td>Gasto</td>
              <td>Servicios básicos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <%- include partials/footer %> 
  </body>
</html>
