<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Success Register</title>
  </head>
  <body>
    <%- include partials/header %>
    <form class="register-form" action="/users/login">
      <h1 class="title-form">¡Tu registro ha sido exitoso!</h1>
      <a class="btn-cancel" href="/">Back</a>
      <button class="btn-check" type="submit">Login</button>
    </form>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
